# Nexus Mobile - Environment Variables
# Copy this file to .env and fill in your values

EXPO_PUBLIC_API_URL=https://qegsj4k7m5.execute-api.us-east-1.amazonaws.com
EXPO_PUBLIC_COGNITO_USER_POOL_ID=your_cognito_user_pool_id
EXPO_PUBLIC_COGNITO_CLIENT_ID=your_cognito_client_id
